

/* GLOBAL */

@charset "UTF-8";
body
{
        border-top:5px solid #CB2323;
        background:#E9E4D6;
        font-family: 'Open Sans', sans-serif;
        color:#202020;
}

input
{
       font-family: 'Open Sans', sans-serif;
        font-size:16px;
        padding: 7px;
        outline:0 ;
        border:1;
        width:250px;
        background: white;
        border-radius:5px; 
}

input[type=submit]
{
        width:auto;
        padding: 5px 18px;
        line-height:25px;
        text-shadow:none;
        cursor:pointer;
        box-shadow: none;
        background: #202020;
        color: #fff;
}

select {
  
  width:250px;
  border: 1px solid #bbb;
  padding:.75em 1em .5em 1em;
  box-shadow: 0 2px 1px 0 rgba(0,0,0,0.2);
  background-color:white;

  background-position: right;
  background-repeat: no-repeat;
}

select:hover {
  box-shadow: 0 1px 1px 0 rgba(0,0,0,0.1);
}

p
{
        margin:5px 0;
        line-height:25px;
}
h1{
	font-size:30px;
	text-decoration:underline;
	margin-bottom:20px;
	margin-top:10px;
	
	color: #7c795d; font-family: 'Trocchi', serif; font-weight: normal; line-height: 48px;
}
h2{
	font-size:20px;
	font-weight:bold;
}

a
{
        text-decoration:none;
        color:inherit;
        
}

strong
{
        font-weight:bold;
}


hr
{
        background-color: #D6D0C1;
        border:0;
        height:1px;
        margin:20px 0;
}


/* HEADER */

header
{
        position:relative;
        width:auto;
        max-width:900px;
        margin: 0 auto 20px auto;
		
		
		
}

header h1
{
        margin:25px 0 0 0;
		font-family: 'Faster One', cursive;
		color:orange;
		font-size:60;
		
		
		
}

header p
{
        font-family: 'Open Sans', sans-serif;
        font-size:16px;
        
        margin-left:132px;
}


nav
{
        position:absolute;
        right:50;
        bottom:0;
}

nav ul
{
        list-style:none;
}

nav ul li
{
        display:block;
        float:left;
		padding:3px 15px;
        margin:0px 2px;
		transform:skew(-20deg);
		border:2px solid black;
		box-shadow: 6px 6px 3px grey;
		transition: all .25s ease;
		background-color:#b3b3b3;
}

nav ul li a
{
        font-family: 'Open Sans', sans-serif;
        text-transform:uppercase;
		
        
}

nav ul li:hover
{
        color:orange;
		background-color: #595959;
		transition: all .25s ease;
}
#slideBG{
	line-height: 25px;
        font-family: 'Open Sans', sans-serif;
        width:600px;
		height:100px;
        position:absolute;
        top:20%;
        left:20%;
		padding:20px;
		 z-index:11;
		 background:grey;
		 opacity:0.7;
		 border-radius:10px;
	
}
#slider_content
{
        
		line-height: 25px;
        font-family: 'Open Sans', sans-serif;
        width:600px;
        position:absolute;
        top:20%;
        left:20%;
		padding:20px;
		 z-index:12;
        
       
}

#slider_content h3
{
        color:#E9E4D6;
        font-size:25px;
        font-weight:bold;
        margin-bottom:10px;
        background-color:#202020;
        padding:10px 15px;
        border-radius: 15px 0 15px 0;
        display:inline-block;
		
}


#slider_content p
{
        margin:0 0 30px 0;
        color:#4a463b;
        background-color:#E9E4D6;
        padding:10px 15px;
        border-radius: 5px;
}
#slider_content #subm{float:right;}



/* SLIDESHOW */
/* Prevent the slideshow from flashing on load */
.slidesjs-container
{
        border-top: 1px #d6d0c1 solid;
}
#slides
{
        display: none
}

/* Center the slideshow */
.container
{
        width:auto;
        margin: 0 auto;
        position:relative;
}

/* Show active item in the pagination */
.slidesjs-pagination .active
{
        color:red;
}


#team{
	float:left;
	text-align:center;
	
	width:180px;
	height:100px;
}

#table .row{
	width:250px;
	height:220px;
	float:left;
	text-align:justify;
	padding-right:24px;
	padding-left:24px;
	border-right:1px solid grey;
	border-left:1px solid grey;
}


.Acc{
	margin-bottom:30px;
}
.Acc td{
	
	min-width:100px;
	padding-bottom:20px;
}





#art{
	min-height:220px;
	height:auto;
	background-color:#d2d2d2;
	color:black;
	border-left:5px solid black;
	border-right:5px solid black;
	float:none;
	padding: 10 10 10 10 ;
	margin: 0 0 30 0;
	box-shadow: 10px 10px 5px grey;
	transition: all .25s ease;
}


#art p.titl{
	font-size:20px;
	text-decoration:underline;
}
#art div.desc{
	margin:30px 0px 0px 20px;
	
}



#art img.thumb{

	max-height:180px;
	max-width:320px;
	display:block;
	margin:auto;
	position:absolute;
	top:50%;
	left:50%;
	transform: translate(-50%, -50%);
	
	
	
	
}
#art div.thumb{
	position:relative;
	float:left;
	margin-right:20px;
	height:180px;
	width:320px;
	background:grey;
	
}
#art .price{
	position:relative;
	background:black;
	width:70px;
	height:35px;
	z-index:2;
	opacity:0.4;
	margin-top:-5px;
	border-radius:0px 0px 10px 0px;
}
#art .price p{
	color:white;
	padding:5px 0px 0px 5px;
}
#art div.src{
	width:320;
	float:left;
	margin-right:20px;
}
#art:hover {
	
	background-color: #595959;
	
	transition: all .25s ease;
}
#art:hover .titl{
	color:white;
	transition: all .25s ease;
}

#art:hover .src p {
	color:#C4C4C4;
	transition: all .25s ease;
}
#art:hover .desc {
	color:white;
	transition: all .25s ease;
}
#art:hover #finddesc, #art:hover #finddesc2{
	background:black;
	transition: all .25s ease;
}
#art:hover #finddesc table th, #art:hover #finddesc table td ,#art:hover #finddesc2 table th, #art:hover #finddesc2 table td {
	color:white;
	border-left:3px solid white;
	border-right:3px solid white;
	transition: all .25s ease;
}
#art:hover .price{
	opacity:1;
	transition: all .25s ease;
}

#art div.src p{
	font-size:20px;
	font-style:italic;
}

filter div.keys{
	width:400px;
	float:left;
	margin-right:30px;
}
filter div.src{
	width:400px;
	float:left;
}

#finddesc{
	float:left;
	padding:20px;
	background:white;
	border-radius:20px;
	
}
#finddesc th{
	color:black;
	font-size:55;
	font-weight:bold;
	text-align:center;
	padding:10px;
	border-left:3px solid black;
	border-right:3px solid black;
	min-width:100px;
	
	
}
#finddesc td{
	color:black;
	font-size:20;
	text-align:center;
	padding:10px;
	border-left:3px solid black;
	border-right:3px solid black;
	
	
}
#finddate{
	float:left;
	margin:20 0 0 40;
}
#finddesc2{
	margin-top:30px;
	padding:20px;
	background:white;
	border-radius:20px;
	float:left;
	
}
#finddesc2 th{
	color:black;
	font-size:45;
	font-weight:bold;
	text-align:center;
	padding:10px;
	border-left:3px solid black;
	border-right:3px solid black;
	min-width:100px;
	
	
}
#finddesc2 td{
	color:black;
	font-size:20;
	text-align:center;
	padding:10px;
	border-left:3px solid black;
	border-right:3px solid black;
	
	
}
#objtitl{
	color:#46486c;
	padding-left:43px;
	font-size:50px;
}
#objdesc{
	float:left;
	margin:30 0 0 43;
}
#objdesc th{
	color:black;
	font-size:55;
	font-weight:bold;
	text-align:center;
	padding:10px;
	border-left:3px solid black;
	border-right:3px solid black;
	min-width:100px;
	
	
}
#objdesc td{
	color:black;
	font-size:20;
	text-align:center;
	padding:10px;
	border-left:3px solid black;
	border-right:3px solid black;
	
	
}
#reqdesc{
	float:left;
	padding:20px;
	background:#cecece;
	border-radius:20px;
	margin:30 0 0 43;
}
#reqdesc th{
	color:black;
	font-size:45;
	font-weight:bold;
	text-align:center;
	padding:10px;
	border-left:3px solid black;
	border-right:3px solid black;
	min-width:100px;
	
	
}
#reqdesc td{
	color:black;
	font-size:20;
	text-align:center;
	padding:10px;
	border-left:3px solid black;
	border-right:3px solid black;
	
	

}
#reqinfo{
	clear:left;
	float:left;
	width:500px;
	display:block;
	min-height:200px;
	margin:40 0 20 43;
	padding-left:20px;
	border-left:2px solid black;
	
}
#reqcontact{
	
	float:left;
	min-height:200px;
	padding-left:20px;
	margin-top:40px;
	border-left:2px solid black;
}

#objcontact{	
	margin-top:20px;
}

#objaddress{
	
	clear:left;
	float:left;
	width:350px;
	display:block;
	margin:20 0 0 43;
	padding-left:20px;
	border-left:2px solid black;


}
#objavailable{
	float:left;
	width:350px;
	
	display:block;
	margin:20 0 0 43;
	padding-left:20px;
	border-left:2px solid black;
	

}
#objinfo{
	clear:left;
	float:left;
	width:757px;
	display:block;
	min-height:200px;
	margin:40 0 20 43;
	padding-left:20px;
	border-left:2px solid black;
	
}





#mobileMenu
{
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        display: none;
}

#mobileMenu ul li
{
        display:block;
        background-color: #CB2323;
        color: #fff;
        padding: 12px 0;
        letter-spacing: 0.1em;
        text-align: center;
        text-transform: uppercase;
        border-bottom: 1px solid #CC5836;
}

.toggleMobile
{
        display: none;
}




/* BUTTONS */

.button
{
        padding:7px 14px;
        border: 1px solid #c3532e;
        background-image: linear-gradient(bottom, #CB2323 0%, #ff8c66 100%);
        background-image: linear-gradient(to bottom, #ff8c66 0%, #CB2323 100%);
        background-color: #eb653c;
        color: #E9E4D6;
        text-shadow: 1px 1px 0px #ff8155;
        text-decoration:none;
        border-radius:5px;
        box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.3);
		margin-right:10px;
		margin-bottom:10px;
		display: inline-block;
}

.button:hover
{
        background:none #E9E4D6;
        border-color: #E9E4D6;
        text-shadow:none;
        color: #4A463B;
}


.content
{
		width:900px;
		max-width:900px;
		min-height:550px;
		margin:0 auto;
		padding: 30px 0 45px 0;
		
		
}
.content h2
{
	
	margin-bottom:10px;
	
}
.content p
{
	line-height:25px;
	
}

footer
{
        position:relative;
        clear:both;
        width:auto;
        height:350px;
        background:#202020;
}

footer .wrapper
{
        line-height:25px;
        margin: 0 auto;
        padding-top:30px;
        width:auto;
        max-width:900px;
        font-size:14px;
}

footer .wrapper .column
{
        font-family: 'Open Sans', sans-serif;
        color:#ababab;
        float:left;
        width:280px;
        margin-right:20px;
}

footer .wrapper .column.midlist ul li
{
        display:block;
        width:auto;
        padding:0 0 10px 25px;
        margin-bottom:10px;
        border-bottom: 1px solid #444444;
        background:url(img/arrowright2.png) left 6px no-repeat;
}

footer .wrapper .column.midlist ul li a:hover
{
        color:#fff;
}

footer .wrapper .column.rightlist ul li
{
        display:block;
        width:auto;
        margin-bottom:15px;
}

footer .wrapper .column.rightlist ul li a span
{
        margin-left:95px;
        display:block;
}

footer .wrapper .column.rightlist ul li a img
{
        transition: border .25s ease;
        float:left;
        border:3px solid #444444;
}

footer .wrapper .column.rightlist ul li a img:hover
{
        border-color: #5e5e5e;
}

footer .wrapper .column h4
{
        font-size: 16px;
        color: #fff;
        border-bottom: 1px solid #444444;
        padding: 0 0 10px 0;
        margin-bottom: 10px;
}

#copyright
{
        background-color: #1D1D1D;
        height:70px;
        position:absolute;
        bottom:0;
        left:0;
        width:100%;
		
}
#copyright .wrapper
{
        font-family: 'Open Sans', sans-serif;
        padding-top:25px;
        color: #5e5e5e;
        font-size:14px;
        position:relative;
}

}
#copyright .wrapper a
{
        color: #ABABAB;
}

#copyright .wrapper a:hover
{
        color: #fff;
}





/* MISC */
.clear
{
        clear:both;
}
.hidden
{
        position:absolute;
        clip: rect(1px 1px 1px 1px); /* IE6 & 7 */
          clip: rect(1px, 1px, 1px, 1px);
}


/* MEDIA QUERIES FOR A RESPONSIVE LAYOUT */


@media (max-width: 965px)
{
	
		header
		{
			margin-left:20px
		}
		
        
        input
        {
                padding:4px;
                font-size:14px;
        }
        input[type="submit"]
        {
                padding: 1px 14px;
        }
		.content{
			width:700px;
		}
		.del2{
			margin-right:290px;
		}
		article div.src{
			display:none;
		}
		.container #slides
        {
			opacity:0;
			height:300px;
               
        }
		.container #slider_content{
			width:500px;
			height:150px;
			left:10%;
		}
		.container #slider_content #subm{
			padding-top:10px;
			float:none;
		}
		.container #slideBG{
			width:500px;
			height:150px;
			left:10%;
		}
		
		 footer .wrapper .column
        {
                font-size: 12px;
                width: 230px;
				margin-left: 20px
        }
		
}

@media (max-width: 830px)
{
		footer
        {
                padding-bottom:70px;
                height: auto;
        }
        footer .wrapper
        {
                width: 350px;
                margin: 0 auto;
				margin-bottom:10px;
				padding-top:10px
        }
        footer .wrapper .column
        {
                margin-top:30px;
                float:none;
                font-size: 14px;
                width: auto;
        }
        footer .wrapper .social
        {
                display:none;
        }
}

@media (max-width: 765px)
{
       
        header
        {
                height:120px;
        }
        header nav
        {
                right: auto;
                bottom: auto;
                left: 50%;
                top:90px;
                margin-left: -184px;
        }
		
		header p
		{
				display:none;
		}
		
		.content{
			width:500px;
		}
		.del2{
			margin-right:90px;
		}
       
}

@media (max-width: 525px)
{
        header
        {
            margin-top: 80px;
			margin-left:-40px;
            text-align: center;
			height:75px
        }        
       
        input
        {
                width:auto;
        }
        #mobileMenu
        {
                display: block;
                z-index: 99;
        }
        .toggleMobile
        {
                position: fixed;
                top: 10px;
                left: 10px;
                display: block;
                width: 40px;
                height: 36px;
                cursor: pointer;
                z-index: 999;
        }
        .toggleMobile span.menu1, .toggleMobile span.menu2, .toggleMobile span.menu3
        {
                display: block;
                position: absolute;
                width: 40px;
                height: 8px;
                left: 0;
                background: #EDA28C;
                -webkit-transition: all 0.35s cubic-bezier(0.75, 0.25, 0.10, 0.95);
                transition: all 0.35s cubic-bezier(0.75, 0.25, 0.10, 0.95);
        }
        .toggleMobile span.menu1
        {
                top: 0;
        }
        .toggleMobile span.menu2
        {
                top: 14px;
        }
        .toggleMobile span.menu3
        {
                top: 28px;
        }
        .toggleMobile.active span.menu1
        {
                top: 14px;
                -webkit-transform: rotate(45deg);
                -moz-transform: rotate(45deg);
                -o-transform: rotate(45deg);
                -ms-transform: rotate(45deg);
                transform: rotate(45deg);
                -webkit-transition: all 0.35s cubic-bezier(0.75, 0.25, 0.10, 0.95);
                transition: all 0.5s cubic-bezier(0.75, 0.25, 0.10, 0.95);
        }
        .toggleMobile.active span.menu2
        {
                -webkit-transform: rotate(-45deg);
                -moz-transform: rotate(-45deg);
                -o-transform: rotate(-45deg);
                -ms-transform: rotate(-45deg);
                transform: rotate(-45deg);
                -webkit-transition: all 0.35s cubic-bezier(0.75, 0.25, 0.10, 0.95);
                transition: all 0.5s cubic-bezier(0.75, 0.25, 0.10, 0.95);
        }
        .toggleMobile.active span.menu3
        {
                opacity: 0;
                -webkit-transition: opacity 0.35s cubic-bezier(0.75, 0.25, 0.10, 0.95);
                transition: opacity 0.35s cubic-bezier(0.75, 0.25, 0.10, 0.95);
        }
		
        header nav
        {
                display:none;
        }
        header h1 img
        {
                width:350px;
        }
		
		input[type=text]{
			float:none;
		}
		.content{
		width:300px;}
		.welcome h3{
			width:300px;
			font-size:30px;
		}
		profiles ul li{
			width:300px;
		}
		profiles #del{
			left:290px;
		}
		
		 footer .wrapper
        {
                width:auto;
        }
        footer .wrapper .column
        {
                margin: 0 auto 15px auto;
                max-width:300px;
        }
		.del2{
			margin-right:-110px;
		}
       
}



/* KEYFRAMES */

@keyframes stylie-transform-keyframes {
  0% {transform:translateX(30px) translateY(46px) rotate(0deg) translate(-50%, -50%);animation-timing-function: cubic-bezier(.25,.25,.75,.75);}
  100% {transform:translateX(260px) translateY(-150px) rotate(0deg) translate(-50%, -50%);}
}

@keyframes stylie-transform2-keyframes {
  0% {transform:translateX(40px) translateY(40px) rotate(0deg) translate(-50%, -50%);animation-timing-function: cubic-bezier(.25,.25,.75,.75);}
  100% {transform:translateX(50px) translateY(40px) rotate(0deg) translate(-50%, -50%);}
}
